@using System;
@using System.Web;
@using System.Web.Mvc;
@using System.Web.Mvc.Html;
@using System.Web.Razor.Parser.SyntaxTree
@using System.Web.Services.Description
@using System.Web.UI.WebControls
@using Microsoft.Ajax.Utilities
@using MyMovieWatchlist.Models
@using MyMovieWatchlist.Controllers
@using WebGrease.Css.Extensions
@helper GetTreeView(List<MyMovieWatchlist.Models.SiteMenu> siteMenu, int parentId, System.Web.Mvc.HtmlHelper h)
{
foreach (SiteMenu i in siteMenu.Where(a => a.ParentMenuId.Equals(parentId)))
    {
            <li>
                @{ var submenu = siteMenu.Count(a => a.ParentMenuId.Equals(i.Id));}

                @if (submenu > 0 || i.Movies.Any())
                {
                    <span class="collapse1 collapsible">&nbsp;</span>
                }
                else
                {
                    <span style="width:15px; display:inline-block">&nbsp;</span>
                }

                <span>
                    <a href="@i.NavUrl">@i.MenuName</a>
                 </span>

                 @if (submenu > 0 || i.Movies.Any())
                 {
                     <ul>
                         @if (submenu > 0)
                         {
                            @TreeView.GetTreeView(siteMenu, i.Id, h)
                         }

                         @if(i.Movies.Any())
                         {
                             foreach (var movie in i.Movies)
                             {
                                <li>
                                    @h.ActionLink(@movie.Title, "Movie", "Home", new { SelectedMovieImdbId = movie.imdbID }, new {@style= "color:#fff8dc;font-weight: bold;text-decoration: underline" })
                                    @*<a href="@i.NavUrl">@movie.Title (@movie.imdbID)</a>*@
                                </li>
                            }
                         }

                     </ul>
                 }
            </li>
    }
}

