@model IEnumerable<MyMovieWatchlist.Models.Movie>
@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

@*@Model.Year.ToString()
    @Model.Title.ToString()
    @Model.Type.ToString()
    @Model.imdbID.ToString()
    @Model.Poster.ToString()*@

<table id="table_id" class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Title)</th>
            <th>@Html.DisplayNameFor(model => model.Year)</th>
            <th>@Html.DisplayNameFor(model => model.Type)</th>
            <th>@Html.DisplayNameFor(model => model.imdbID)</th>
            <th>@Html.DisplayNameFor(model => model.Poster)</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Title)</td>
                <td>@Html.DisplayFor(modelItem => item.Year)</td>
                <td>@Html.DisplayFor(modelItem => item.Type)</td>
                <td>@Html.DisplayFor(modelItem => item.imdbID)</td>
                <td><img src="@Html.DisplayFor(modelItem => item.Poster)" width="100" /></td>
                
            </tr>
        }
    </tbody>
</table>